@page "/calories"

@using BlazorFitnessApp.Models

    <div id="calories-content">

        <div id="maintenance-calculator" class="calculator">

            <div class="flex-container">
                <label for="Height">Height</label>
                <input type="range" min="80" max="240" step="0,5" class="slider" @bind-value="CaloricData.Height" @oninput="(e) => OnHeightChange(e)" />
                <p>@CaloricData.Height</p>
            </div>

            <div class="flex-container">
                <label for="Weight">Weight</label>
                <input type="range" min="30" max="150" step="0,5" class="slider" @bind-value="CaloricData.Weight" @oninput="(e) => OnWeightChange(e)"/>
                <p>@CaloricData.Weight</p>
            </div>

            <div class="flex-container">
                <label for="Age">Age</label>
                <input type="range" min="18" max="99" step="1" class="slider" @bind-value="CaloricData.Age" @oninput="(e) => OnAgeChange(e)" />
                <p>@CaloricData.Age</p>
            </div>

            <div class="flex-container">
                <label for="Gender">Gender</label>
                <select @bind="CaloricData.Gender" id="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <p id="maintenance-message" style="color:@maintenanceMessageColor">@maintenanceMessage</p>

            <div class="flex-container">
                <label for="Result">Result</label>
                <input type="text" readonly id="Result" value="@CaloricData.Maintenance" />
            </div>

            <div class="flex-container">
                <button @onclick="() => OnCalculateMaintenanceClick()">Result</button>
            </div>

        </div>

        <div id="pal-calculator" class="calculator">

            @foreach (Excercise excercise in CaloricData.Excercises)
            {
                <div class="flex-container">
                    <label>Excercise</label>
                    <select @bind="excercise.PAL">
                        <option value="4" selected>Cycling 12km/h</option>
                        <option value="6">Cycling 16km/h</option>
                        <option value="8">Cycling 20km/h</option>
                        <option value="10">Cycling 24km/h</option>
                        <option value="12">Cycling 28km/h</option>
                        <option value="6">Swimming-slow</option>
                        <option value="8">Swimming-medium</option>
                        <option value="10">Swimming-fast</option>
                        <option value="3">Walking, Nordic Walking 4km/h</option>
                        <option value="3,8">Walking, Nordic Walking 5.5km/h</option>
                        <option value="6,3">Walking, Nordic Walking 7km/h</option>
                        <option value="8">Walking, Nordic Walking 8km/h</option>
                        <option value="6">Jogging 6km/h</option>
                        <option value="8,3">Jogging 8km/h</option>
                        <option value="10">Jogging 10km/h</option>
                        <option value="11,8">Jogging 12km/h</option>
                        <option value="13,5">Jogging 14km/h</option>
                        <option value="6,5">Aerobics, Gymnastic</option>
                        <option value="7,5">Strength Training</option>
                        <option value="7">Tennis, Badminton, Squash</option>
                        <option value="7,5">Team Sports(Football, Soccer, Basketball...)</option>
                        <option value="8">Martial Arts</option>
                        <option value="8">Winter Sports</option>
                        <option value="3">Other - very low intensity</option>
                        <option value="4,5">Other - low intensity</option>
                        <option value="6">Other - medium intensity</option>
                        <option value="7,5">Other - high intensity</option>
                        <option value="9">Other - very high intensity</option>
                    </select>
                    <input type="range" @bind-value="excercise.Time" min="0" max="24" step="0,5" />
                </div>
            }

        <div class="flex-container">
            <label for="Work">Work</label>
            <select id="Work" @bind="CaloricData.WorkLevel">
                <option value="1,5">überwiegend sitzend, kaum Bewegung (z.B. Bürojob am Schreibtisch)</option>
                <option value="2">größtenteils sitzend, teilweise stehend, gehend (z.B. Kraftfahrer, Student)</option>
                <option value="3">überwiegend gehend, stehend (z.B. Verkäufer, Kellner, Hausfrau, Bäcker)</option>
                <option value="4,5">körperlich anstrengend (z.B. Landwirte, Handwerker, Bergleute)</option>
                <option value="6">körperlich sehr anstrengend (z.B. Umzugshelfer, Forstarbeiter)</option>
            </select>
            <input type="range" @bind-value="CaloricData.WorkDuration" min="0" max="24" step="0,5" />
        </div>

        <div class="flex-container">
            <label for="Sleep">Sleep</label>
            <input type="range" @bind-value="CaloricData.SleepDuration" min="0" max="24" step="0,5" />

        </div>

            <div class="flex-container">
                <button @onclick="() => OnAddClick()">Add</button>
            </div>


            <p id="pal-message" style="color:@palMessageColor">@palMessage</p>

            <div class="flex-container">
                <label for="PAL-Result">PAL-Result</label>
                <input type="text" readonly id="PAL-Result" value="@CaloricData.PAL" />
            </div>

            <div class="flex-container">
                <button disabled="@palButtonDisabled" @onclick="() => OnPALCalculateClick()">PAL</button>
                <em><p style="color:@green">@(palButtonDisabled ? "Calculate Maintenance First!" : "")</p></em>
            </div>

        </div>
    </div>



@code {

    private const string green = "#1c7c00";
    private const string red = "#ff0000";
    private string palMessage = "";
    private string maintenanceMessage = "";

    private string maintenanceMessageColor = "";
    private string palMessageColor = "";

    private bool palButtonDisabled => CaloricData.Maintenance == 0;

    private CaloricData CaloricData = new CaloricData();
    

    protected override void OnInitialized()
    {
        CaloricData.Age = 24;
        CaloricData.Height = 183.0;
        CaloricData.Weight = 69.0;
        CaloricData.Gender = Enums.Gender.Male;

        CaloricData.Excercises.Add(new Excercise()
        {
            PAL = 4,
            Time = 0,
        });
    }

    private void OnCalculateMaintenanceClick()
    {
        if (CaloricData.Weight > 0 && CaloricData.Height > 0 && CaloricData.Age > 0)
        {
            maintenanceMessageColor = green;
            maintenanceMessage = "";

            switch (CaloricData.Gender)
            {
                case Enums.Gender.Male:

                    var maleResult = Math.Round((9.99 * CaloricData.Weight) + (6.25 * CaloricData.Height) - (4.92 * CaloricData.Age) + 5).ToString();
                    int.TryParse(maleResult, out int maleValue);
                    CaloricData.Maintenance = maleValue;
                    break;

                case Enums.Gender.Female:
                    var femaleResult = Math.Round((9.99 * CaloricData.Weight) + (6.25 * CaloricData.Height) - (4.92 * CaloricData.Age) - 161).ToString();
                    int.TryParse(femaleResult, out int femaleValue);
                    CaloricData.Maintenance = femaleValue;

                    break;

                default:
                    break;
            }
        }
        else
        {
            maintenanceMessageColor = red;
            maintenanceMessage = "Invalid Inputs detected";
            CaloricData.Maintenance = 0;
        }
    }

    private void OnPALCalculateClick()
    {
        double timeTotal = 0;
        double levelTotal = 0;

        foreach (Excercise excercise in CaloricData.Excercises)
        {
            timeTotal += excercise.Time;
            levelTotal += excercise.PAL * excercise.Time;
        }

        levelTotal += CaloricData.SleepDuration * 0.95;
        timeTotal += CaloricData.SleepDuration;

        levelTotal += CaloricData.WorkDuration * CaloricData.WorkLevel;
        timeTotal += CaloricData.WorkDuration;

        if (timeTotal > 24)
        {
            palMessageColor = red;
            palMessage = "Time is more than 24 Hours";
            CaloricData.PAL = 0;
        }
        else
        {
            levelTotal += (24 - timeTotal) * 1.2;
            levelTotal /= 24;

            var palResultNumber = CaloricData.Maintenance + ((levelTotal - 1) * CaloricData.Maintenance);
            var palResultString = Math.Round(palResultNumber).ToString();

            int.TryParse(palResultString, out int result);

            CaloricData.PAL = result;
        }
    }

    private void OnAddClick()
    {
        Excercise excercise = new Excercise()
        {
            PAL = 4,
            Time = 0,
        };

        CaloricData.Excercises.Add(excercise);

        StateHasChanged();
    }

    private void OnHeightChange(ChangeEventArgs e)
    {
        double.TryParse(e.Value.ToString(), out double value);
        CaloricData.Height = value;
    }

    private void OnWeightChange(ChangeEventArgs e)
    {
        double.TryParse(e.Value.ToString(), out double value);
        CaloricData.Weight = value;
    }

    private void OnAgeChange(ChangeEventArgs e)
    {
        int.TryParse(e.Value.ToString(), out int value);
        CaloricData.Age = value;
    }

}
